#title {
  font-size: 100px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: 3px 3px #07575B;
}

.background-back-tile {
  fill: #07575B;
}

.background-front-tile {
  fill: #66A5AD;
}

.two-tile {
  fill: rgb(255,255,255);
}

.four-tile {
  fill: rgb(230,230,255);
}

.eight-tile {
  fill: rgb(205,205,255);
}

.sixteen-tile {
  fill: rgb(180,180,255);
}

.thirty-two-tile {
  fill: rgb(155,155,255);
}

.sixty-four-tile {
  fill: rgb(130,130,255);
}

.one-twenty-eight {
  fill: rgb(105,105,255);
}

.two-fifty-six {
  fill: rgb(80,80,255);
}

.five-twelve {
  fill: rgb(55,55,255);
}

.ten-twenty-four {
  fill: rgb(30,30,255);
}

.twenty-forty-eight {
  fill: rgb(5,5,255);
}

.group {
  height: 125px;
  width: 125px;
}

.text {
  font-size: 80px;
  font-weight: 600;
  font-family: sans-serif;
}

.three-digit-text {
  font-size: 60px;
  font-weight: 600;
  font-family: sans-serif;
}

.four-digit-text {
  font-size: 46px;
  font-weight: 600;
  font-family: sans-serif;
}

body {
  /* background-color: blanchedalmond; */
  background-color: rgb(255,255,255);
}
