#title {
  font-size: 100px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: 2px 2px #07575B;
}

.background-back-tile {
  fill: #07575B;
}

.background-front-tile {
  fill: #66A5AD;
}

.two-tile {
  /* fill: #C99E10; */
  fill: rgb(256,256,256);
}

.four-tile {
  /* fill: #9B4F0F; */
  fill: rgb(231,231,256);
}

.eight-tile {
  fill: rgb(206,206,256);
}

.sixteen-tile {
  fill: rgb(181,181,256);
}

.thirty-two-tile {
  fill: rgb(156,156,256);
}

.sixty-four-tile {
  fill: rgb(131,131,256);
}

.one-twenty-eight {
  fill: rgb(106,106,256);
}

.two-fifty-six {
  fill: rgb(81,81,256);
}

.five-twelve {
  fill: rgb(56,56,256);
}

.ten-twenty-four {
  fill: rgb(31,31,256);
}

.twenty-forty-eight {
  fill: rgb(6,6,256);
}

.group {
  height: 125px;
  width: 125px;
}

.text {
  font-size: 80px;
  font-weight: 600;
  font-family: sans-serif;
}

.three-digit-text {
  font-size: 60px;
  font-weight: 600;
  font-family: sans-serif;
}

.four-digit-text {
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
}

body {
  background-color: blanchedalmond;
}
