#title {
  font-size: 100px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: 2px 2px #C05B34;
}

#instructions {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: 1px 1px #07575B;
}

.background-back-tile {
  fill: #07575B;
}

.background-front-tile {
  fill: #66A5AD;
}

.two-tile {
  fill: rgb(255,255,255);
}

.four-tile {
  fill: rgb(190,190,255);
}

.eight-tile {
  fill: rgb(190,255,190);
}

.sixteen-tile {
  fill: rgb(255,190,190);
}

.thirty-two-tile {
  fill: rgb(140,140,255);
}

.sixty-four-tile {
  fill: rgb(140,255,140);
}

.one-twenty-eight {
  fill: rgb(255,140,140);
}

.two-fifty-six {
  fill: rgb(100,100,255);
}

.five-twelve {
  fill: rgb(100,255,100);
}

.ten-twenty-four {
  fill: rgb(255,100,100);
}

.twenty-forty-eight {
  fill: rgb(255,255,0);
}

.group {
  height: 125px;
  width: 125px;
}

.text {
  font-size: 80px;
  font-weight: 600;
  font-family: sans-serif;
}

.three-digit-text {
  font-size: 60px;
  font-weight: 600;
  font-family: sans-serif;
}

.four-digit-text {
  font-size: 46px;
  font-weight: 600;
  font-family: sans-serif;
}

body {
  background-color: rgb(255,255,255);
}
